html, body {
  width: 100%;
  height: 100%;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}

body{
  /*background: url("img/MapBackground.png");*/
  background-size: 100% 120vh;
  background-repeat: no-repeat;
  /*font-family: 'Open Sans', sans-serif;*/
  margin: 0;
}

/*to kill the annoying overflow that happens otherwise*/
.row {
  margin: 0;
}

.menu {
  color: #000;
  padding: 10px;
  min-height: 60px;
  max-height: 136px;
  font-size: 25px;
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 1px #888888;
  opacity: .95;
  top: 100%;
  position: absolute;
  z-index: 99;
}

.menu-links {
  margin-top: 25px;
  text-align: right;
  display: inline-block;
}

.logo {
  height: 95px;
  width: 95px;
  background: url('img/watercolor-boat-logov3.png');
  background-size: 95px 95px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  float: left;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.logo-title {
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  display: inline-block;
}

.arrow-bounce {
  margin-top: -20%;
  color: #fff;
  -webkit-animation-name: bounce; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bounce {
    0%   { transform:translateY(-10%); }
    25%  { transform:translateY(0%); }
    50%  { transform:translateY(-23%); }
    75%  { transform:translateY(0%); }
    100% { transform:translateY(-10%); }
}

/* Standard syntax */
@keyframes bounce {
  0%   { transform:translateY(-10%); }
  25%  { transform:translateY(0%); }
  50%  { transform:translateY(-23%); }
  75%  { transform:translateY(0%); }
  100% { transform:translateY(-10%); }
}

.grid {
  background: #F0DDC2;
  margin-top: -25px

}

.peopleGrid {
  margin-left: -15px;
  margin-right: 15px;
}


/*little map is just an example.
we can delete this in the future*/
.little-map {
  background: url("img/MapBackground.png");
  background-size: 300px 200px;
  width: 300px;
  height: 200px;
  margin: 5px;
  display: inline-block;
}

.white{
color: white;
opacity: .8;
position: relative;
top: 30%;
transform: translateY(-50%);
padding: 50px;
}

.black{
color: black;
opacity: .8;
position: relative;
top: 30%;
/*transform: translateY(-50%);*/
}

h1{
  font-size: 86px;
  font-family: 'Open Sans', sans-serif;
}

/*#intro{
  /*width: 100vw; -- commenting out these widths because it causes horizontal overflow
  bootstraps default is width 100% right? so i don't think it's needed
  height: 120vh;
  background: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url("img/MapBackground.png");
}

#explainer{
  /*width: 100%;*/
  /*height: 100%;
  background: url('img/Mansion.gif');
  background-size: 100% 100%;
  margin: 0;
}

#navGraph{
  /*width: 100vw;*/
  /*height: 120vh;
  background: url("img/MapBackground.png");
}*/

.person {
  min-height: 360px;
  /*border: 1px solid #000;*/
  text-align: center;
  background: #fff;

}

/*
#person1 {
  background: #FCF3EB;
}

#person3 {
  background: #EFCEBF;
}

#person2 {
  background: #7C8B97;
}

*/
.menu {
  text-align: right;
  /*padding: 20px;*/
}

#waves {
  /*background: #3A3D4B;*/
  width: 110%;
  margin-top: -140px;
  height: 158px;
  margin-left: -15px;
}

#intro{
  /*width: 100vw;*/
  height: 120vh;
  background: transparent;
  background-size: 100% 100%;
}

#explainer{
  /*width: 100vw;*/
  height: 120vh;
  background: url('video/WATER.mp4');
  background-size: 100% 100%;
  margin: 0;
}

#navGraph{
  /*width: 100vw;*/
  /*height: 120vh;*/
  background: transparent;
}

.stories {
  height: auto;
  margin-bottom: 2em;
}

.experiences {
  background: #3A3D4B;
}
