body {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

#person1 {
  background: url("img/PatinoContreras_Final-12.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

#person1 h1  {
  font-size: 100px;
}

.story-section {
  background: #C18C79;
  background-image: url("img/story-section1-watercolor-bg.png");
  background-size: 100% 100vh;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.story {
  margin-top: 25vh;
  min-height: 50vh;
  margin-bottom: 25vh;
  display: inline-block;
  /*border: 4px double #fff;
  background: #000;*/
  opacity: .8;
  color: #fff;
  text-align: justify;
  font-size: 1.4em;
  overflow: auto;
}

#section2 {
  background: #C2C7C9;
  width: 100%;
  text-align: center;
}

.icon-group {
  margin-top: 5vh;
  height: 20vh;
  text-align: center;
}

.icon {
  background: #D2B48C;
  display: inline-block;
  padding: 2em;
  border: 1px solid #fff;
  margin: 1em;
}

.circle {
    height: 95px;
    width: 95px;
    font-size: 15px;
    border-radius: 50px;
    background: blue;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    opacity: .4;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.circle:hover {
  opacity: .8;
}

.watercolor-map {
  background-image: url("img/map-watercolor-nobg.png");
  background-size: cover;
  display: inline-block;
  width: 100%;
  height: 400px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#picture2 {
  background-image: url("img/PatinoContreras_Final-1.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.section5 {
  background: navy;
  min-height: 400px;
}

.section6 {
  background: gray;
}
