html, body {
  width: 100%;
  height: 100%;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}

body{
  /*background: url("img/MapBackground.png");*/
  background-size: 100% 120vh;
  background-repeat: no-repeat;
  /*font-family: 'Open Sans', sans-serif;*/
  margin: 0;
}

h1{
  font-size: 86px;
  font-family: 'Open Sans', sans-serif;
}

/*to kill the annoying overflow that happens otherwise*/
.row {
  margin: 0;
}

.menu {
  color: #000;
  padding: 10px;
  min-height: 60px;
  max-height: 136px;
  font-size: 25px;
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 1px #888888;
  opacity: .95;
  top: 100%;
  position: absolute;
  z-index: 99;
  text-align: right;
}

.menu-links {
  margin-top: 25px;
  text-align: right;
  display: inline-block;
}

.logo {
  height: 95px;
  width: 95px;
  background: url('img/dark-watercolor-logo.png');
  background-size: 95px 95px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  float: left;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.logo-title {
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  display: inline-block;
}

.video-background {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: -20px;
  margin-bottom: -20px;
}

.arrow-bounce {
  margin-top: -20%;
  color: #fff;
  -webkit-animation-name: bounce; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bounce {
    0%   { transform:translateY(-10%); }
    25%  { transform:translateY(0%); }
    50%  { transform:translateY(-23%); }
    75%  { transform:translateY(0%); }
    100% { transform:translateY(-10%); }
}

/* Standard syntax */
@keyframes bounce {
  0%   { transform:translateY(-10%); }
  25%  { transform:translateY(0%); }
  50%  { transform:translateY(-23%); }
  75%  { transform:translateY(0%); }
  100% { transform:translateY(-10%); }
}

.grid {
  background: #F0DDC2;
}

.peopleGrid {
  margin: 0;
  padding: 0;
  width: 100%;
}

.person {
  min-height: 400px;
  /*border: 1px solid #000;*/
  text-align: center;
  background: #fff;
}

/* TODO - if we keep pics,
make people responsive so images don't get all weird in different sizes;
see how http://www.rgm.lv/ does it */

#person1, #person5 {
  background: url("img/grid/Squared-1.jpg");
  background-size: cover;
}

#person2, #person6 {
  background: url("img/grid/Squared-3.jpg");
  background-size: cover;
}

#person3, #person4 {
  background: url("img/grid/Squared-5.jpg");
  background-size: cover;
}

#person1:hover, #person5:hover {
  background: url("img/grid/Squared-2.jpg");
  background-size: cover;
}

#person2:hover, #person6:hover {
  background: url("img/grid/Squared-4.jpg");
  background-size: cover;
}

#person3:hover, #person4:hover {
  background: url("img/grid/Squared-6.jpg");
  background-size: cover;
}

/*color --> bw people

#person1, #person5 {
  background: url("img/grid/Squared-2.jpg");
  background-size: cover;
}

#person2, #person6 {
  background: url("img/grid/Squared-4.jpg");
  background-size: cover;
}

#person3, #person4 {
  background: url("img/grid/Squared-6.jpg");
  background-size: cover;
}

#person1:hover, #person5:hover {
  background: url("img/grid/Squared-1.jpg");
  background-size: cover;
}

#person2:hover, #person6:hover {
  background: url("img/grid/Squared-3.jpg");
  background-size: cover;
}

#person3:hover, #person4:hover {
  background: url("img/grid/Squared-5.jpg");
  background-size: cover;
}

*/

/*
#person1 {
  background: #FCF3EB;
}

#person3 {
  background: #EFCEBF;
}

#person2 {
  background: #7C8B97;
}

*/

/*
#waves {
  background: #3A3D4B;
  width: 110%;
  margin-top: -140px;
  height: 158px;
  margin-left: -15px;
}


#intro{
  width: 100vw;
  height: 120vh;
  background: transparent;
  background-size: 100% 100%;
}

#explainer {
  width: 100vw;
  height: 120vh;
  background: url('video/WATER.mp4');
  background-size: 100% 100%;
  margin: 0;
}

#navGraph{
  width: 100vw;
  height: 120vh;
  background: transparent;
}
*/

.stories {
  height: auto;
  margin-bottom: 2em;
}


.black{
color: black;
opacity: .8;
position: relative;
top: 30%;
/*transform: translateY(-50%);*/
}

.experiences {
  background: #3A3D4B;
}
