body {
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}

h1 {
  font-weight: 300;
}

/*TODO - make this more responsive / more of image displayed*/

/***********************************header image and title************************************************/

#story1 {
  background: url("img/PatinoContreras_Final-12.jpg");
  background-size: cover;
  width: 100%;
  height: 120vh;
}

#story1 .title {
  float: right;
  margin-top: 3em;
  margin-right: 3em;
}

#story1 h1  {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -2px;
}

#story1 .sub-header {
  text-align: right;
  font-family: Times;
  font-size: 3em;
  font-style: italic;
  margin-top: -.5em;
  margin-right: .5em;
}

/************************story sections*************************************/

.story-section {
  background: #fff;
  background-size: 100% 100vh;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}

#story-section1 {
  margin-top: 10vh; /*20vh if menu is visible*/
}

.story {
    min-height: 50vh;
    margin-bottom: 1em;
    display: inline-block;
    color: #000;
    text-align: justify;
    font-size: 1.9em;
    font-family: Times;
    overflow: auto;
}

#italy {
  background: url("img/italy.png");
  background-size: 600px 550px;
  height: 600px;
  width: 550px;
}

#section2 {
  background: url("img/overview/captain.jpg");
  background-size: cover;
  width: 100%;
  height: 90vh;
  margin: 0;
  padding: 0;
}

.quote {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: Times;
  font-size: 2em;
  font-style: italic;
}

.blue {
  background: #7C8B97;
  min-height: 70vh;
}

#people-arrived {
  background: url("http://www.clker.com/cliparts/6/4/7/7/1197106712447482105johnny_automatic_walking.svg.hi.png");
  background-repeat: repeat-x;
  margin-top: 15vh;
  margin-bottom: 15vh;
  min-height: 40vh;
}

#map2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.img-section {
  background-size: 100% 100vh;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

.overview-grid {
  height: 60vh;
}

.caption {
  background: black;
  opacity: .9;
  color: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 1em;
  display: none;
}

#overview-img1 {
  background: url("img/overview/line-of-men.jpg");
  background-size: cover;
}

#overview-img2 {
  background: url("img/overview/center-man.jpg");
  background-size: cover;
}

#overview-img3 {
  background: url("img/overview/hurt-leg.jpg");
  background-size: cover;
}

#overview-img4 {
  background: url("img/overview/throat-doctor.jpg");
  background-size: cover;
}

#section7 {
  margin-top: 3.2em;
  margin-bottom: 0;
}

#section8 {
  background: url("img/overview/captain.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#section9 {
  margin-top: 1em;
}

#refugees {
  margin-top: 2em;
  background: url("http://publicdomainvectors.org/tn_img/ossidiana-granny-with-children.png");
  width: 300px;
  height: 247px;
  margin-left: 16em;
}

.video-section {
  width: 100%;
  height: 95%;
}
