/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

@media screen and (max-width: 1199px) {
  /*   men of san giovanni story      */
  .face {
    min-height: 500px;
  }

  #title {
    font-size: 5em;
  }

  .person {
    min-height: 170px;
  }

  /*re-size pics in man of san too*/
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}
