
@media screen and (max-width: 2000px) {
  .person {
    min-height: 600px;
  }
}


@media screen and (max-width: 1716px) {
  .person {
    min-height: 500px;
  }
}



@media screen and (max-width: 1416px) {
  .person {
    min-height: 390px;
  }
}


@media screen and (max-width: 1199px) {

  .person {
    min-height: 340px;
  }

}

@media screen and (max-width: 1138px) {
  .person {
    min-height: 300px;
    height: auto;
    max-height: 340px;
  }

  #welcome {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }
}

@media screen and (max-width: 991px) {
  .person {
    min-height: 300px;
    height: auto;
    max-height: 330px;
  }

  .grid {

  }
}

@media screen and (max-width: 767px) {
  .person {
    height: 200px;
    width: 200px;
  }

  #person1, #person2, #person3, #person4, #person5, #person6 {
    border: 8px solid #fff;
  }

  #welcome {
    font-size: 1em;
    color: orange;
    margin: .2em;
    margin-top: 3em;
  }
}

@media screen and (max-width: 550px) {
  #welcome {
    font-size: 1em;
    color: orange;
    margin: .2em;
    margin-top: 1em;
  }

  .person {
    min-height: 210px;
    height: auto;
    max-height: 330px;
    min-width: 200px
    width: auto;
    max-width: 220px;
  }

  #person1, #person2, #person3, #person4, #person5, #person6 {
    border: 5px solid #fff;
  }

  .grid {
    margin: 0 0;
  }

  .peopleGrid {
    min-width: 410px;
    width: auto;
    max-width: 440px;
    margin: 0 auto;
    height: auto;
  }

}

@media screen and (max-width: 410px) {

  /*col-md-12 is 100% so it's not centering properly?*/
  /*cant inspect element SO*/

  .peopleGrid {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

  .person {
    background-position: center;
    width: 220px;
    height: 220px;
    margin: 0 auto;
  }

  #person1, #person2, #person3, #person4, #person5, #person6 {
    border: 5px solid #fff;
  }

}
