/*.peopleGrid {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 100%;
  position: relative;
}

.person {
  text-align: center;
  background: #fff;
  border: 10px solid #fff;
}*/

/* TODO - if we keep pics,
make people responsive so images don't get all weird in different sizes;
see how http://www.rgm.lv/ does it */

#person1 {
  background: url("../img/front-panel/color1.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#person2 {
  background: url("../img/front-panel/color2.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#person3{
  background: url("../img/front-panel/color3.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#person1:hover {
  background: url("../img/front-panel/color1.jpg");
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}

#person2:hover {
  background: url("../img/front-panel/color2.jpg");
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}

#person3:hover {
  background: url("../img/front-panel/color3.jpg");
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}

#person4 {
  background: url("../img/front-panel/color4.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#person4:hover {
  background: url("../img/front-panel/color4.jpg");
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}

#person5 {
  background: url("../img/front-panel/color5.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#person5:hover {
  background: url("../img/front-panel/color5.jpg");
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}

#person6 {
  background: url("../img/front-panel/color6.jpg");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

#person6:hover {
  background: url("../img/front-panel/color6.jpg");
  background-size: cover;
  -webkit-filter: none;
  filter: none;
}
