html, body {
  width: 100%;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 300;
}


.tester1 {
  height: 600px;
  background: orange;
}

.tester2 {
  height: 900px;
  background: purple;
}

.menu {
  color: #000;
  padding: 10px;
  height: 126px;
  font-size: 25px;
  background: white;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 1px #888888;
  position: absolute;
  z-index: 99;
  text-align: right;
}

.menu-links {
  margin-top: 25px;
  text-align: right;
  display: inline-block;
}

.logo {
  height: 95px;
  width: 95px;
  background: url('../img/dark-watercolor-logo.png');
  background-size: 95px 95px;
  font-size: 15px;
  text-align: center;
  display: inline-block;
  float: left;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.logo-title {
  float: left;
  margin-top: 25px;
  margin-left: 15px;
  display: inline-block;
}

.row {
  margin: 0;
}

.video-background {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 0px;
}

.arrow-bounce {
  margin-top: -20%;
  color: #fff;
  -webkit-animation-name: bounce; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
  -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
  animation-name: bounce;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-iteration-count: infinite;
}

.arrow-hover {
  -webkit-transition: .4s ease-in-out; /* Safari */
  transition: .4s ease-in-out;
  border-radius: 60px;
}

.arrow-hover:hover {
  -moz-box-shadow: 0 0 8px #fff;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0px 0px 8px #fff;
  padding: 5px;
  background: #3A3D4B;
  opacity: .9;
  margin-top: -5px;
}

#welcome {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2em;
}


.peopleGrid {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 100%;
}

.person {
  min-height: 400px;
  text-align: center;
  background: #fff;
  border: 10px solid #fff;
  position: relative;
}

.caption {
  background: #000;
  opacity: .9;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.3em;
  padding-top: 5px;
  padding-bottom: 5px;
  display: none;
  position: absolute;
}


/*.caption-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto
}*/

/* TODO - if we keep pics,
make people responsive so images don't get all weird in different sizes;
see how http://www.rgm.lv/ does it */

/*original css*/


#person1, #person2, #person3 {
  border-top: solid 20px #fff;
}

#person4, #person5, #person6 {
  border-bottom: solid 20px #fff;
}

#person1 {
    border-left: 20px solid #fff;
}

#person3 {
    border-right: 20px solid #fff;
}

#person4 {
    border-left: 20px solid #fff;
}

#person6 {
    border-right: 20px solid #fff;
}

.stories {
  height: auto;
  margin-bottom: 2em;
}

.black {
color: black;
opacity: .8;
position: relative;
top: 30%;
/*transform: translateY(-50%);*/
}

.experiences {
  background: #3A3D4B;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bounce {
    0%   { transform:translateY(-10%); }
    25%  { transform:translateY(0%); }
    50%  { transform:translateY(-23%); }
    75%  { transform:translateY(0%); }
    100% { transform:translateY(-10%); }
}

/* Standard syntax */
@keyframes bounce {
  0%   { transform:translateY(-10%); }
  25%  { transform:translateY(0%); }
  50%  { transform:translateY(-23%); }
  75%  { transform:translateY(0%); }
  100% { transform:translateY(-10%); }
}

/* when navigation is shown, don’t allow scrolling of content */
body.no_scroll {
  overflow: hidden;
  height: 100%;
}

/* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
@-moz-document url-prefix() {
  body.no_scroll {
    /*margin-right: 23px;*/
  }

  body.no_scroll .expanded {
    /*padding-right: 7px;*/
    background: rgba(255,255,255,.98); /* because FF no blur, reduce bg transparency */
  }
}


/* === TOP MENU LAYOUT === */
/* ======================= */

nav {
  color: #333;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 126px; /* smaller height because font is smaller */
  padding-top: 8px;
  right: 0;
  z-index: 1000;
  cursor: pointer;
  overflow: hidden;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition: -webkit-transform .4s, height .3s, background .4s;
  -moz-transition: -moz-transform .4s, height .3s, background .4s;
  transition: transform .4s, height .3s, background .4s;
  -webkit-animation: firstFadeInAndDrop .5s;
  -moz-animation: firstFadeInAndDrop .5s;
  animation: firstFadeInAndDrop .5s;
}

/* on intial load fade in the menu */
@-webkit-keyframes firstFadeInAndDrop {
  0%   {-webkit-transform: translate(0,-54px);}
  100% {-webkit-transform: translate(0,0);}
}

@-moz-keyframes firstFadeInAndDrop {
  0%   {-moz-transform: translate(0,-54px);}
  100% {-moz-transform: translate(0,0);}
}

@keyframes firstFadeInAndDrop {
  0%   {transform: translate(0,-54px);}
  100% {transform: translate(0,0);}
}

/* on navigation hover add slight white bg */
nav:hover {
  background: rgba(255,255,255,.7);
}

/* limits width of menu to site width */
.site-width {
  top: 97%;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 2%;
}

/* when hidden it goes up */
nav.invisible {
  -webkit-transform: translate(0,-64px);
  -moz-transform: translate(0,-64px);
  -o-transform: translate(0,-64px);
  transform: translate(0,-64px);
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  -o-transition: -o-transform .2s;
  transition: transform .2s;
  opacity: 0;
}

/* when shown & detached position is fixed */
nav.detached {
  position: fixed;
  background: rgba(255,255,255,.9);
  -webkit-transition: -webkit-transform .3s, height .3s, background .4s, opacity .3s;
  -moz-transition: -moz-transform .3s, height .3s, background .4s, opacity .3s;
  -o-transition: -o-transform .3s, height .3s, background .4s, opacity .3s;
  transition: transform .3s, height .3s, background .4s, opacity .3s;
}
